{% extends "./layouts/centered.html" %} {% block content %}
<div class="flex flex-row items-center justify-center flex-wrap bg-neutral-800 p-2 rounded-md">
  <div
    id="{{manga.id}}"
    class="flex flex-col flex-wrap items-center justify-center p-5 rounded-lg text-center"
  >
    <h1 class="text-2xl font-semibold tracking-tight">{{manga.title}}</h1>
    <h1>{{manga.author}}</h1>
    <img class="w-35 h-64 rounded-md" src="{{manga.image.url}}" alt="" />
    <ul id="genres">
      {% for genre in manga.genres.all %}
      <li>{{genre}}</li>
      {% endfor %}
    </ul>
    <h1>{{manga.publication_year}}</h1>
    <h1>{{manga.status}}</h1>
    <a class="bg-blue-800 text-zinc-100 rounded-lg p-2">Escribe una review</a>
  </div>
  <div class="flex flex-col w-96 h-fit items-center justify-center ">
    <p class="text-balance whitespace-normal">{{manga.description}}</p>
  </div>
</div>
{% endblock %}
