{% extends "./layouts/centered.html" %} {% block content %}
<div id="mangas" class="p-5 rounded-lg">
  <div class="grid grid-cols-4 gap-4">
    {% for manga in mangas %}

    <div
      id="{{manga.id}}"
      class="flex flex-col items-center justify-center bg-neutral-800 p-5 rounded-lg text-center transition-all transform hover:scale-105 duration-300"
    >
      <a href="/mangas/{{manga.id}}/">
        <h1 class="text-2xl font-semibold tracking-tight">{{manga.title}}</h1>
        <h2 class="">{{manga.author}}</h2>
        <img class="w-35 h-64 rounded-md" src="{{manga.image.url}}" alt="" />
      </a>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
